[main]
log_file=/Users/bmuita/workspace/swiftcore/dropqueue/logs/dropqueue.log
out_file=/Users/bmuita/workspace/swiftcore/dropqueue/logs/dropqueue.out
pid_file=/tmp/dropqueue.pid
num_workers=10
batch_size=1000
log_level=DEBUG
api_url=http://swiftweb.local/api/drop?api_key=abracadabra
mq_host=localhost