Hi %s!

Your %s river will shutdown in %s days. This means that in %s days,
your river will stop being updated with new drops.

Click on the link below to view your river and extend its lifetime 
by another %s days.

%s