[main]
log_file=/path/to/rss-scheduler.log
out_file=/path/to/rss-scheduler.out
pid_file=/path/to/rss-scheduler.pid
num_response_workers=10
num_channel_update_workers=10
log_level=DEBUG
mq_host=localhost

[db]
host=localhost
port=3306
user=root
pass=
database=swiftweb