[main]
log_file=/Users/ekala/dev/SwiftRiver-Core/twitter/logs/firehose.log
out_file=/Users/ekala/dev/SwiftRiver-Core/twitter/logs/firehose.out
pid_file=/tmp/firehose.pid
num_workers=10
log_level=DEBUG
mq_host=localhost

[twitter_api]
consumer_key=
consumer_secret=
token_key=
token_secret=
