[main]
log_file=/Users/ekala/dev/SwiftRiver-Core/twitter/logs/firehose.log
out_file=/Users/ekala/dev/SwiftRiver-Core/twitter/logs/firehose.out
pid_file=/tmp/firehose.pid
log_level=DEBUG
mq_host=localhost

# OAuth settings for track predicates
[track_twitter_api]
consumer_key=
consumer_secret=
token_key=
token_secret=

# OAuth settings for follow predicates
[follow_twitter_api]
consumer_key=
consumer_secret=
token_key=
token_secret=
