[main]
log_file=/path/to/logs/firehose.log
out_file=/path/to/logs/firehose.out
pid_file=/path/to/firehose.pid
log_level=DEBUG
mq_host=localhost

# OAuth settings for track predicates
[track_twitter_api]
consumer_key=
consumer_secret=
token_key=
token_secret=

# OAuth settings for follow predicates
[follow_twitter_api]
consumer_key=
consumer_secret=
token_key=
token_secret=
