[main]
log_file=/path/to/logs/firehose_manager.log
out_file=/path/to/logs/firehose_manager.out
pid_file=/path/to/firehose_manager.pid
num_workers=10
log_level=DEBUG
mq_host=localhost
cache_file=/path/to/twitter.cache

[db]
host=localhost
port=3306
user=root
pass=
database=swiftweb