[main]
log_file=/path/to/logs/mediaextractor.log
out_file=/path/to/logs/mediaextractor.out
pid_file=/path/to/mediaextractor.pid
num_workers=10
log_level=DEBUG
mq_host=localhost

[cloudfiles]
enabled=false
username=xxxxx
api_key=xxxxx
container=test_drop_image_thumbs